body {
    margin: 0;
    padding: 0;
}
.container {
    margin: 0 auto;
    max-width: 800px;
}
.Title {
    font-size: 20px;
    color: black;
}
.codeBlock {
    display: flex;
}
h1 {
    margin: 10px;
}